.navigation {
  .navigation__list {
    list-style: none;
    display: flex;

    .navigation__item {
      a {
        text-decoration: none;
        color: $font_color;
        padding: 30px;
        transition: color 0.1s 0.1s ease-in-out;

        &:hover {
          color: $primary_color;
        }
      }
    }
  }
}
